<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekday Warrior</title>
</head>
<body>
    <% if (!weekend) { %>
        <h1>Hey! Its a weekday, its time to work hard!</h1>
    <% } else { %>
        <h1>Hey! its the weekend, its time to have fun</h1>
    <% } %>
</body>
</html>